<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <style>
    #login {
      width:200px;
      height:100px;
      margin:auto;
      margin-top:200px;
    }
    #login div {
      margin-top:10px;
      text-align:center;
    }
    #login input[type=text] {
      width:200px;
      height:30px;
    }
    #login input[type=password] {
      width:200px;
      height:30px;
    }
    #login input[type=submit] {
      width:208px;
      height:36px;
    }
  </style>
</head>
<body> <!-- login.html -->
	<div id="login">
		<form method="post" action="loginOk">
			<h3 align="center"> 로그인 </h3>
			<div> <input type="text" name="userid" placeholder="아이디"> </div>
			<div> <input type="password" name="pwd" placeholder="비밀번호"> </div>
			<div> <input type="submit" value="로그인"> </div>
		</form>
	</div>


</body>
</html>